body{
  height: 200vh;
  background-color: fff;
}
header {
  height: 75px;
  padding: 5px;
  
}

.headerFlexBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#headerPic {
  display: flex;
}

#headerSection {
  background-color: rgb(238 232 216);
  border-radius: 50px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center
}

#headerSection div {
  margin: 30px;
  font-size: 14pt;
  color: #696969;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

#logIn {
  background-color: rgb(238 232 216);
  border: 0px;
  width: auto;
  white-space: nowrap;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

#logIn:hover {
  /* opacity: 1; */
  background-color: bisque;
  /* border: 0px;
  width: auto;
  white-space: nowrap;
  border-radius: 50px;
  display: flex;
  align-items: center; */
}